// General
.website-wrapper {
  max-width: $max-width;
  margin: auto;
  // box-shadow: 0 1px 10px #aaa;

  font-family: $base-font-family;
  font-size: $base-font-size;
  background-color: $background-color;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.website-wrapper>section {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  &.container-fluid {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6, .lead {
  font-family: $title-font-family;
}

h1 {
  border-left: 5px solid $grey-color-light;
  padding-left: 9px;
  margin: 20px 0 40px;
}

.website-wrapper>footer {
  // border-top: 1px solid #ccc;
  margin-top: 10px;
  padding: 5px;
  background-color: #eee;
}

// Links
a, a:link, a:visited {
  color: $grey-color;
  font-weight: 600;
  transition: all .4s;

  &.thick {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.2px;
    font-family: $title-font-family;
  }
  &.thin {
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.2px;
    font-family: $title-font-family;
  }
}
a:hover, a:focus {
  color: $grey-color-dark;
}

// Page Header
.website-wrapper>header {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  .slogan {
    align-self: center;
    margin-left: 20px;
    padding: 30px;
    background-color: rgba(250,250,250,.8);
    font-size: 2em;
  }
}

// ----- HOME -----
// Partner
#partner {
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid $grey-color-light;

  img {
    -webkit-filter: grayscale(90%) opacity(50%);
    filter: grayscale(90%) opacity(50%);

    margin: 20px 40px;
    transition: all .4s;
  }
  img:hover {
    -webkit-filter: grayscale(1%) opacity(100%);
    filter: grayscale(1%) opacity(100%);
  }
}
