.home__news {
  display: block;

  padding: 20px 0;
  border-bottom: 1px solid $grey-color-light;

  &:hover {
    text-decoration: none;
    background-color: lighten($grey-color, 47%);
  }
}

.home__news__img img {
  max-width: 100%;
  margin: auto;
}

.home__news__date {
  font-family: $title-font-family;
  font-size: .8em;
  color: $grey-color-med;
  margin-right: 5px;
}

#neuigkeiten {
  margin-top: 60px;
  margin-bottom: 60px;

  .home__news {
    display: flex;
    align-items: center;
  }

  .home__news__img {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;

    margin-right: 30px;

    img {
      max-width: 100%;
    }
  }
}
