.space-before {
  margin-top: 60px;
}
.space-after {
  margin-bottom: 60px;
}
.margin-center {
  margin: auto;
}

.content-padding {
  padding: 15px 20px;
}

/* Buttons */
.btn-cta {
  border: 2px solid white;
  background: none;
  padding: 10px 20px;
}
.btn:hover {
  color: white;
}
